@page "/countries/details/{CountryId:int}"

@if (country is null)
{
    <Loading/>
}
else
{
    <div class="card">
        <div class="card-header">
            <span>
                <i class="bi bi-globe-americas"/> @country.Name
                <a class="btn btn-sm btn-primary float-end mx-1" href="/states/create/@country.Id"><i class="bi bi-plus" /> Nuevo Estado/Departamento</a>
                <a class="btn btn-sm btn-success float-end" href="/countries"><i class="bi bi-arrow-left"/> Regresar</a>
            </span>
        </div>
        <div class="card-body">
            <GenericList MyList="states">
                <Body>
                    <div class="mb-2" style="display:flex; flex-wrap: wrap; align-items: center;">
                        <input style="width: 400px" type="text" class="form-control" id="titulo" placeholder="Buscar estado/departamento..." @bind-value="Filter" />
                        <button type="button" class="btn btn-outline-primary mx-1" @onclick="ApplyFilterAsync"><i class="bi bi-funnel" /> Filtrar</button>
                        <button type="button" class="btn btn-outline-danger mx-1" @onclick="CleanFilterAsync"><i class="bi bi-x-circle" /> Limpiar</button>
                    </div>
                    <Pagination CurrentPage="currentPage" TotalPage="totalPage" SelectedPage="SelectedPage" />

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Estado/Departamento</th>
                                <th style="width: 90px">Ciudades</th>
                                <th style="width: 200px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var state in states!)
                            {
                                <tr>
                                    <td><a href="/states/details/@state.Id">@state.Name</a></td>
                                    <td>@state.CitiesNumber</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" href="/states/edit/@state.Id"><i class="bi bi-pencil" /> Editar</a>
                                        <button class="btn btn-danger btn-sm" @onclick=@(() => DeteleAsync(state))><i class="bi bi-trash" /> Eliminar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
            </GenericList>
        </div>
    </div>

    
}