@page "/login"
<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <EditForm Model="loginDTO" OnValidSubmit="SignInAsync">
            <DataAnnotationsValidator />
            <div class="card bg-light">
                <div class="card-header justify-content-center">
                    <span>
                        <i class="bi bi-account-login"/> Iniciar Sesión
                        <button class="btn btn-sm btn-primary float-end" type="submit"><i class="bi bi-box-arrow-right"/> Iniciar Sesión</button>
                    </span>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="email">Email: </label>
                        <InputText id="email" class="form-control" @bind-Value="loginDTO.Email" />
                        <ValidationMessage For="@(() => loginDTO.Email)" />
                    </div>
                    <div class="mb-3">
                        <label for="password">Contraseña: </label>
                        <InputText type="password" id="password" class="form-control" @bind-Value="loginDTO.Password" />
                        <ValidationMessage For="@(() => loginDTO.Password)" />
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-link" href="/resendtoken">Reenviar correo de activación de cuenta.</a>
                    <a class="btn btn-link" href="/recoverpassword">¿Has olvidado tu contraseña?</a>
                </div>
            </div>
        </EditForm>
    </div>
</div>



