@page "/categories"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-bookmark-star" /> Categorías
            <button class="btn btn-sm btn-primary float-end mx-1" @onclick=@(()=>ShowModalAsync())><i class="bi bi-plus" /> Nueva Categoría</button>
        </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Buscar categoría..." Callback="FilterCallBack" />
        <GenericList MyList="Categories">
            <Body>                
                <Pagination CurrentPage="currentPage" TotalPage="totalPage" SelectedPage="SelectedPageAsync" RecordsNumber="SelectedRecordsNumberAsync" />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Categoría</th>
                            <th style="width:200px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Categories!)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>
                                    <button @onclick=@(() => ShowModalAsync(category.Id, true)) class="btn btn-warning"><i class="bi bi-pencil" /> Editar</button>
                                    <button @onclick=@(()=> DeleteAsync(category)) class="btn btn-danger"><i class="bi bi-trash" /> Borrar</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>
