@page "/categories"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-bookmark-star" /> Categorías
            <a class="btn btn-sm btn-primary float-end mx-1" href="/categories/create"><i class="bi bi-plus" /> Nueva Categoría</a>
        </span>
    </div>
    <div class="card-body">
        <GenericList MyList="Categories">
            <Body>
                <div class="mb-2" style="display:flex; flex-wrap: wrap; align-items: center;">
                    <input style="width: 400px" type="text" class="form-control" id="titulo" placeholder="Buscar categoría..." @bind-value="Filter" />
                    <button type="button" class="btn btn-outline-primary mx-1" @onclick="ApplyFilterAsync"><i class="bi bi-funnel" /> Filtrar</button>
                    <button type="button" class="btn btn-outline-danger mx-1" @onclick="CleanFilterAsync"><i class="bi bi-x-circle" /> Limpiar</button>
                </div>
                <Pagination CurrentPage="currentPage" TotalPage="totalPage" SelectedPage="SelectedPageAsync" />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Categoría</th>
                            <th style="width:200px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Categories!)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>
                                    <a href="/categories/edit/@category.Id" class="btn btn-warning"><i class="bi bi-pencil" /> Editar</a>
                                    <button @onclick=@(()=> DeleteAsync(category)) class="btn btn-danger"><i class="bi bi-trash" /> Borrar</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>
