<div class="my-2">
    <MudCarousel TData="object" Style="height:200px;" ShowArrows="arrows" ShowBullets="bullets" EnableSwipeGesture="enableSwipeGesture" AutoCycle="autocycle">
        @foreach (var image in Images)
        {
            @if (image.StartsWith("https://"))
            {
                <MudCarouselItem Transition="transition" Color="Color.Primary">
                    <div class="d-flex" style="height:100%; justify-content:center">
                        <img src="@image" />
                    </div>
                </MudCarouselItem>
            }            
        }
    </MudCarousel>
</div>